section.inst_container {
    width: calc(100vw - 105px);
    min-height: 100vh;
    margin-left: 88px;
    background-color: #efffe6;
}
section.inst_container section.info_instructor {
    border-bottom: 1px solid #00000020;
    background-image: url('../../../assets/Fondo_verde.jpg');
    background-size: contain;
    color: #FFF;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
}
section.show_shedule.instructor_page { margin-right: 20px; }
section.inst_container h2 { 
    margin: 10px 0 20px; 
    text-align: center; 
}   
section.inst_container h3 { 
    text-align: center; 
    margin-bottom: 15px;
}
section.show_shedule.instructor_page { display: flex; }
section.section_instructor main.contenedor-foot {
    width: calc(100% - 88px);
    margin-left: 88px;
}
h1#name_instructor {
    font-size: 2.2rem;
}